<launch>

    <!-- ZED Camera (remember to run the no tf version) -->
    <include file="$(find zed_wrapper)/launch/zed_no_tf.launch"/>

    <!--Map server-->
    <arg name="map_file" default="$(find obstacle_detection)/maps/blank_map.yaml" />
	<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>


</launch>